* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  text-align: center;
}

.cabecalho,
.rodape {
  width: 100%;
  padding: 3px;
  background-color: #cccccc;
  border: 2px solid black;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  width: 100%;
  padding: 10px 0;
}

.imagemcentro {
  position: relative;
  width: 90%;
  max-width: 600px;
  border: 2px solid black;
  /* border-right: 2px solid black; */
}

.imagemcentro img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.pix {
  position: absolute;
  bottom: 9.5%;
  left: 53.5%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 21px;
  color: #386570;
}

@media (max-width: 700px) {
  .cabecalho,
  .rodape {
    font-size: 18px;
  }
  .imagemcentro {
    width: 100%;
  }
  .pix {
    bottom: 9.6%;
    font-size: 21px;
    /* background-color: rgb(0, 17, 255); */
  }
}

@media (max-width: 600px) {
  .cabecalho,
  .rodape {
    font-size: 16px;
  }
  .imagemcentro {
    width: 100%;
  }
  .pix {
    bottom: 9.55%;
    font-size: 20.5px;
    /* background-color: rgb(247, 93, 5); */
  }
}

@media (max-width: 500px) {
  .cabecalho,
  .rodape {
    font-size: 14px;
  }
  .imagemcentro {
    width: 100%;
  }
  .pix {
    bottom: 9.5%;
    font-size: 17px;
    /* background-color: red; */
  }
}

@media (max-width: 400px) {
  .cabecalho,
  .rodape {
    font-size: 10px;
  }
  .imagemcentro {
    width: 100%;
  }
  .pix {
    bottom: 9.59%;
    font-size: 13.5px;
    /* background-color: green; */
  }
}

@media (max-width: 300px) {
  .cabecalho,
  .rodape {
    font-size: 10px;
  }
  .imagemcentro {
    width: 100%;
  }
  .pix {
    bottom: 9.4%;
    font-size: 10px;
    /* background-color: green; */
  }
}
